<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to image_tag("raye72.png", size: "60x30", alt: "Raye7 logo", class: "logog"), root_path %>
        <%= link_to "Raye7", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Help", help_path %></li>
            <li><%= link_to "Log in", '#' %></li>
          </ul>
        </nav>
      </div>
</header>